#field, #field2, #field3{
    
    margin: 0 auto;
    margin-top: 10px;
  }
  
  #field td {height: 50px;
    width: 50px;
   /* */
    background-color: blue;
  position: relative;
    cursor: pointer;
    border: 1px solid #42c3ac;
  }

  #field2 td {height: 70px;
    width: 40px;
   /* */
    background-color: blue;
  position: relative;
    cursor: pointer;
    border: 1px solid #42c3ac;
  }
  #field3 td {height: 40px;
    width: 70px;
   /* */
    background-color: blue;
  position: relative;
    cursor: pointer;
    border: 1px solid #42c3ac;
  }
  
  td:hover:after{
    content:'Видалити';
    position: absolute;
    left: 100%;
    top: -1em;
    z-index: 2;
    background: #fff;
    border: 1px solid #464948;
    color: red;
    width: max-content;
    padding: 3px;
  }
  
  td.empty:hover:after{
    content:'Вставити';
    position: absolute;
    left: 100%;
   top: -1em;
    z-index: 2;
    background: #fff;
    border: 1px solid #464948;
    color: green;
    width: max-content;
    padding: 3px;
  }
   
  #field .empty, #field2 .empty, #field3 .empty {
    background-color: white;
  }